@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

body {
    font-family: 'Inter', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

input, button {
    font-size: 16px !important; /* Prevents iOS zoom on focus */
}
